body {
  margin: 0;
}

canvas {
  margin-block: 8px;
}

button {
  transition: background-color .25s,border-color .25s;
  background: rgba(40,44,52,.05);
  border: 1px solid transparent;
  border-radius: 6px;
  color: #3080d0;
  text-decoration: none!important;
  display: inline-block;
  font-size: .8rem;
  padding: 8px 16px;
  margin-inline-end: 8px;
  margin-block-end: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

button:hover {
  background-color: rgba(48,128,208,.15);
  border-color: rgba(48,128,208,.2);
  color: #3080d0
}

button:active {
  background-color: rgba(48,128,208,.3);
  border-color: rgba(48,128,208,.4);
  color: #3080d0
}